@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, -apple-system, sans-serif;
}

html {
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
